<div class="profile-container">
  <div class="profile-section profile-header-section">
    <h3>Mi Perfil</h3>
    <div class="d-flex">
      <% if current_user.approved %>
        <div class="profile-status status-approved">
          <%= image_tag "tick.png", alt: "alttext", class: "profile-status-img" %>
          <span>Perfil Habilitado</span>
          <%= image_tag "tick.png", alt: "alttext", class: "hidden-profile-status-img" %>
        </div>
      <% else %>
        <div class="profile-status status-unapproved">
          <%= image_tag "cross.png", alt: "alttext", class: "profile-status-img" %>
          <span>Aplicación Rechazada</span>
          <%= image_tag "cross.png", alt: "alttext", class: "hidden-profile-status-img" %>
        </div>
      <% end %>
      <button type="submit" form="edit_user" class="btn btn-primary ml-4 d-none-mobile">Guardar Cambios</button>
    </div>
  </div>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
    <div class="profile-section profile-image-section">
      <%= image_tag "https://icon-library.com/images/default-user-icon/default-user-icon-4.jpg", alt: "alttext", class: "profile-img" %>
      <div class="image-upload-holder">
        <label for="user_photo">
          <p>Cambiar Foto</p>
        </label>
        <input class="form-control-file file optional absCenter" type="file" name="user[photo]" id="user_photo">
      </div>
    </div>
    <div class="profile-section">
      <h4 class="blue">Información Personal</h4>
      <div class="profile-input-flex">
        <%= f.input :name,
                    required: true,
                    autofocus: true,
                    label: "Nombre",
                    placeholder: "Nombre",
                    input_html: { autocomplete: "name", class: "contact-input" }%>
        <%= f.input :address,
                    required: true,
                    autofocus: true,
                    label: "Direccion",
                    placeholder: "Direccion",
                    input_html: { autocomplete: "address", class: "contact-input" }%>
      </div>
      <div class="profile-input-flex">
        <%= f.input :age,
                    required: true,
                    autofocus: true,
                    label: "Edad",
                    placeholder: "Edad",
                    input_html: { autocomplete: "age", class: "contact-input" }%>
        <%= f.input :sex,
                    required: true,
                    autofocus: true,
                    label: "Sexo",
                    placeholder: "Sexo",
                    input_html: { autocomplete: "sex", class: "contact-input" }%>
      </div>
      <div class="profile-input-flex">
        <%= f.input :age,
                    required: true,
                    autofocus: true,
                    label: "Edad",
                    placeholder: "Edad",
                    input_html: { autocomplete: "age", class: "contact-input" }%>
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    label: "Correo Electrónico",
                    placeholder: "Correo Electrónico",
                    input_html: { autocomplete: "email", class: "contact-input" }%>
      </div>
    </div>
    <div class="profile-section">
      <h4 class="blue mb-4">Documentos Legales</h4>
      <div class="document-upload-holder">
        <label for="user_photo">
          <div class="document-upload">
            <%= image_tag "plus.png", alt: "alttext", class: 'document-upload-img' %>
            <span class="document-upload-text">Agregar Documento</span>
          </div>
        </label>
        <input class="form-control-file file optional absCenter" type="file" name="user[photo]" id="user_photo">
        <%= f.input :photo %>
        <%= f.input :documents, as: :file, input_html: { multiple: true } %>
      </div>
    </div>
    <div class="profile-section">
      <h4 class="blue">Cambio de Contraseña</h4>
      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password", class: "contact-input" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password", class: "contact-input" } %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: "current-password", class: "contact-input" } %>
    </div>
  <% end %>
  <button type="submit" form="edit_user" class="btn btn-primary w-100 mb-4 d-none-desktop">Guardar Cambios</button>
</div>
