<div class="profile-container" data-controller="devise">
  <div class="profile-section profile-header-section">
    <h3>Mi Perfil</h3>
    <div class="d-flex">
      <% if current_user.strikes.length > 0 %>
        <% strike_info = current_user.strikes.each_with_index.map { |strike, index| "Strike #{index + 1}: #{strike.reason}" } %>
        <div class="profile-status status-unapproved" title='<%= strike_info.join("\n") %> <%= "\n" %>Para comunicarte con nosotros escríbenos a contacto@subastalo.pty o llámanos al +353 343 343 8288 '>
          <%= image_tag "down.png", alt: "alttext", class: "profile-status-img" %>
          <span><%= pluralize(current_user.strikes.length, 'Strike') %></span>
          <%= image_tag "down.png", alt: "alttext", class: "hidden-profile-status-img" %>
        </div>
      <% elsif !current_user.completed %>
        <div class="profile-status status-pending">
          <%= image_tag "alert.png", alt: "alttext", class: "profile-status-img" %>
          <span>Perfil incompleto</span>
          <%= image_tag "cross.png", alt: "alttext", class: "hidden-profile-status-img" %>
        </div>
      <% elsif current_user.approved %>
        <div class="profile-status status-approved">
          <%= image_tag "tick.png", alt: "alttext", class: "profile-status-img" %>
          <span>Perfil Habilitado</span>
          <%= image_tag "tick.png", alt: "alttext", class: "hidden-profile-status-img" %>
        </div>
      <% elsif current_user.rejection.nil? %>
        <div class="profile-status status-pending">
          <%= image_tag "clock.png", alt: "alttext", class: "profile-status-img" %>
          <span>Aplicación en Curso</span>
          <%= image_tag "cross.png", alt: "alttext", class: "hidden-profile-status-img" %>
        </div>
      <% else %>
        <div class="profile-status status-unapproved">
          <%= image_tag "cross.png", alt: "alttext", class: "profile-status-img" %>
          <span>Aplicación Rechazada</span>
          <%= image_tag "cross.png", alt: "alttext", class: "hidden-profile-status-img" %>
        </div>
      <% end %>
      <button type="submit" form="edit_user" class="btn btn-primary ml-4 d-none-mobile">Guardar Cambios</button>
    </div>
  </div>
  <% if !current_user.approved && current_user.rejection %>
    <div class="profile-alert rejection-alert">
      <%= image_tag "cross.png", alt: "alttext", class: "profile-alert-img" %>
      <div>
        <h3>Aplicación Rechazada</h3>
        <p>Tu aplicación ha sido rechazada por: <%= current_user.rejection %></p>
      </div>
    </div>
  <% elsif !current_user.completed %>
    <div class="profile-alert incomplete-alert">
      <%= image_tag "alert.png", alt: "alttext", class: "profile-alert-img" %>
      <div>
        <h3>Perfil incompleto</h3>
        <p>Para pujar por productos, debe completar su perfil, incluida la carga de una copia de su pasaporte o licencia de conducir.</p>
      </div>
    </div>
  <% end %>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>
    <div class="profile-section profile-image-section">
      <% if current_user.photo.attached? %>
        <img class="profile-img" src="<%= url_for(current_user.photo) %>" alt="User photo" data-target="devise.photoPreview" />
      <% else %>
        <%= image_tag "https://icon-library.com/images/default-user-icon/default-user-icon-4.jpg", alt: "alttext", class: "profile-img", data: { target: 'devise.photoPreview' } %>
      <% end %>
      <div class="image-upload-holder">
        <label class="file optional" for="user_photo">Cambiar Foto</label>
        <input class="form-control-file is-valid file optional" type="file" name="user[photo]" id="user_photo" data-action="change->devise#preview">
      </div>
    </div>
    <div class="profile-section">
      <h4 class="blue">Información Personal</h4>
      <div class="profile-input-flex">
        <%= f.input :name,
                    required: true,
                    autofocus: true,
                    label: "Nombre",
                    placeholder: "Nombre",
                    input_html: { autocomplete: "name", class: "contact-input" }%>
        <%= f.input :address,
                    required: true,
                    autofocus: true,
                    label: "Direccion",
                    placeholder: "Direccion",
                    input_html: { autocomplete: "address", class: "contact-input" }%>
      </div>
      <div class="profile-input-flex">
        <%= f.input :age,
                    required: true,
                    autofocus: true,
                    label: "Edad",
                    placeholder: "Edad",
                    input_html: { autocomplete: "age", class: "contact-input" }%>
        <%= f.input :sex,
                    required: true,
                    autofocus: true,
                    label: "Sexo",
                    placeholder: "Sexo",
                    input_html: { autocomplete: "sex", class: "contact-input" }%>
      </div>
      <div class="profile-input-flex">
        <%= f.input :email,
                    required: true,
                    autofocus: true,
                    label: "Correo Electrónico",
                    placeholder: "Correo Electrónico",
                    input_html: { autocomplete: "email", class: "contact-input" }%>
      </div>
    </div>
    <div class="profile-section">
      <h4 class="blue mb-4">Documentos Legales</h4>
      <div class="documents-grid">
        <% current_user.documents.each do |document| %>
          <div class="document">
            <% if document.blob.filename.to_s.include?('pdf') %>
              <%= image_tag "pdf-logo.png", alt: "alttext", class: "pdf-logo" %>
            <% elsif document.blob.content_type.to_s.include?('image') %>
              <%= image_tag rails_blob_path(document, disposition: 'preview'), alt: "Preview of document", class: "document-preview" %>
            <% else %>
              <h2 class="text-center"><%= document.blob.content_type %></h2>
            <% end %>
            <p class="blue text-center m-0 mt-2"><%= document.blob.filename %></p>
            <%= link_to 'Delete', document_path(document), method: :delete %>
          </div>
        <% end %>
        <div class="document-upload-holder">
          <label class="w-100" for="user_documents">
            <div class="document-upload">
              <%= image_tag "plus.png", alt: "alttext", class: 'document-upload-img' %>
              <span class="document-upload-text">Agregar Documento</span>
            </div>
          </label>
          <% if current_user.documents.attached? %>
            <% current_user.documents.each do |doc| %>
              <%= f.hidden_field :documents, multiple: true, value: doc.signed_id, id: 'hidden_docs' %>
            <% end %>
          <% end %>
          <%= f.input :documents, as: :file, input_html: { multiple: true, data: {action: "change->devise#documentPreview"} } %>
        </div>
      </div>
      <p class="m-0 ml-3" data-target="devise.documentNames"></p>
    </div>
    <div class="profile-section">
      <h4 class="blue">Cambio de Contraseña</h4>
      <%= f.input :password,
                  hint: "Favor dejar en blanco si no desea cambiar contraseña",
                  required: false,
                  input_html: { autocomplete: "new-password", class: "contact-input" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password", class: "contact-input" } %>
      <%= f.input :current_password,
                  hint: "Necesitamos su contraseña actual para efectuar cambios en su perfil",
                  required: true,
                  input_html: { autocomplete: "current-password", class: "contact-input" } %>
    </div>
  <% end %>
  <button type="submit" form="edit_user" class="btn btn-primary w-100 mb-4 d-none-desktop">Guardar Cambios</button>
</div>
