<div class="footer">
  <div class="footer-top">
    <div class="footer-section">
      <%= image_tag "white-logo.png", alt: "alttext", width: 247 %>
      <div class="d-flex my-3 align-items-center">
        <div class="icon-holder">
          <i class="fas fa-map-pin"></i>
        </div>
        <p class="m-0 ml-3">139 Avenida de Palmas, Panama City, Panama  423 -998</p>
      </div>
      <div class="d-flex my-3 align-items-center">
        <div class="icon-holder">
          <i class="fas fa-phone-alt"></i>
        </div>
        <p class="m-0 ml-3">+353 344 385 888</p>
      </div>
      <div class="d-flex my-3 align-items-center">
        <div class="icon-holder">
          <i class="far fa-envelope"></i>
        </div>
        <p class="m-0 ml-3">contact@subastalo.pty</p>
      </div>
    </div>
    <div class="footer-section">
      <p><strong>Paginas</strong> </p>
      <%= link_to "Inicio", categories_path  %>
      <%= link_to "Nostros", about_path  %>
      <%= link_to "Eventos", root_path %>
      <%= link_to "Contacto", contact_path  %>
    </div>
    <div class="footer-section">
      <p><strong>Informacion</strong> </p>
      <%= link_to "Politica de Privacidad", root_path  %>
      <%= link_to "Términos y Condiciónenos ", root_path  %>
      <%= link_to "Licencia de Subastas", root_path %>
    </div>
    <div class="footer-section w-25">
      <p class="size-13">Aplica a Nuestros Trabajos</p>
      <form id="fs-frm" name="simple-contact-form" accept-charset="utf-8" action="https://formspree.io/YOUR_EMAIL_HERE" method="post" class="form-group">
        <fieldset id="fs-frm-inputs">
          <input type="email" name="_replyto" id="email-address" placeholder="Tu Correo Electrónico" required="" class="footer-input">
          <input type="hidden" name="_subject" id="email-subject" value="Job Form Submission">
        </fieldset>
        <input type="submit" value="Enviar" class="btn-footer">
      </form>
      <div class="d-flex mt-4">
        <div class="icon-holder large-icon-holder mr-3">
          <i class="fab fa-facebook-f"></i>
        </div>
        <div class="icon-holder large-icon-holder mr-3">
          <i class="fab fa-instagram"></i>
        </div>
        <div class="icon-holder large-icon-holder">
          <i class="fab fa-linkedin-in"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <p class="m-0">Subastalo ™ Todos los derechos reservados</p>
    <% if current_user && current_user.admin %>
      <%= link_to "Admin", admin_categories_path %>
    <% end %>
    <p class="m-0">Desarrollado por Hoxton Digital <a href="https://www.hoxton-digital.com" target="blank">London Web Developers</a></p>
  </div>
</div>
