<div class="navbar-subastalo">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png" %>
  <% end %>

  <div class="d-flex align-items-center">
    <%= link_to "Nostoros", "#", class: "nav-link" %>
    <%= link_to "Favoritos", favorites_path, class: "nav-link" %>
    <%= link_to "Contacto", contact_path, class: "nav-link" %>
    <%= link_to "Subastas", root_path, class: "btn btn-primary nav-link" %>
    <% if user_signed_in? %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: "nav-link orange" %>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "nav-link orange" %>
    <% end %>
  </div>
</div>
