<div class="modal fade" id="signupModal" tabindex="-1" role="dialog" aria-labelledby="signupModalLabel" aria-hidden="true" data-controller="devise">
  <div class="modal-dialog" role="document">
    <div class="modal-content devise-modal-content">
      <div class="devise-modal-header">
        <h3>Aplicación para Crear Cuenta</h3>
        <p>Paso <span data-target="devise.pageCounter">1</span> de 3</p>
      </div>
      <div class="devise-modal-body">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs">
            <div class="" data-target="devise.page devise.page1">
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          label: false,
                          placeholder: "Correo Electrónico",
                          input_html: { autocomplete: "email", class: "contact-input" }%>
              <%= f.input :password,
                          required: true,
                          label: false,
                          placeholder: "Contrasena",
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password", class: "contact-input" } %>
              <%= f.input :password_confirmation,
                          required: true,
                          label: false,
                          placeholder: "Confirmar Contraseña",
                          input_html: { autocomplete: "new-password", class: "contact-input" } %>
              <div class="btn btn-primary btn-devise" data-page="2" data-action="click->devise#nextPage">Continuar Aplición</div>
            </div>
            <div class="d-none" data-target="devise.page devise.page2">
              <%= f.input :name,
                          required: true,
                          autofocus: true,
                          label: false,
                          placeholder: "Nombre",
                          input_html: { autocomplete: "name", class: "contact-input" }%>
              <%= f.input :address,
                          required: true,
                          autofocus: true,
                          label: false,
                          placeholder: "Direccion",
                          input_html: { autocomplete: "address", class: "contact-input" }%>
              <%= f.input :sex,
                          collection: ['Masculino', 'Femenino', 'Prefiero no decir'],
                          required: true,
                          autofocus: true,
                          label: false,
                          prompt: "Sexo",
                          input_html: { autocomplete: "sex", class: "contact-input" }%>
              <%= f.input :dob,
                          required: true,
                          autofocus: true,
                          label: false,
                          placeholder: "Fecha de nacimiento",
                          input_html: { autocomplete: "dob", class: "contact-input" }%>
              <div class="btn btn-primary btn-devise" data-page="3" data-action="click->devise#nextPage">Continuar Aplición</div>

            </div>
            <div class="d-none" data-target="devise.page devise.page3">
              <p>Debe subir un documento legal llámese, Pasaporte, Cédula, Licencia de Conducción o Certificado de Nacimiento de Ambos Lados.</p>
              <div class="d-flex align-items-center mb-4">
                <%= f.input :documents, as: :file, input_html: { multiple: true, class: 'd-none', data: {action: "change->devise#documentPreview"} }, label_html: { class: 'upload-photo'}, label: 'Subir Fotos' %>
                <p class="m-0 ml-3" data-target="devise.documentNames"></p>
              </div>
              <p class="size-12 grey">Sugerencia: para agregar más de un archivo, mantenga presionada la tecla ctrl (cmd en mac) mientras selecciona.</p>
              <%= f.button :submit, "Enviar Aplicación", class: "btn-primary btn-devise" %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="devise-modal-footer">
        <p style="color: rgba(98, 106, 121, 0.6)">Tiene cuenta? <a class="devise-link" data-self="signupModal" data-action="click->devise#closeSelf" data-toggle="modal" data-target="#loginModal">
        Login</a><br /></p>
        <div class="signup-indicator">
          <div class="indicator-dot active-dot" data-target="devise.dot devise.dot1" data-action="click->devise#changePage" data-page-target='1'></div>
          <div class="indicator-dot" data-target="devise.dot devise.dot2" data-action="click->devise#changePage" data-page-target='2'></div>
          <div class="indicator-dot" data-target="devise.dot devise.dot3" data-action="click->devise#changePage" data-page-target='3'></div>
        </div>
      </div>
    </div>
  </div>
</div>
