<div class="home-banner">
  <div class="banner-content">
    <h1>Llego a Panama Subastalo</h1>
    <p class="mt-4">Donde podrás encontrar vehículos, propiedades motocicletas, arte y mucho artículos mas.</p>
    <div class="d-flex mt-4">
      <%= link_to "Subastas", categories_path, class: "btn btn-primary" %>
      <%= link_to "Nostros", about_path, class: "btn btn-secondary btn-large ml-3" %>
    </div>
  </div>
</div>
<div class="container margin-80-top text-center-mobile">
  <h3 class="mb-3">Subastas</h3>
  <p class="margin-8-top w-50-desktop mb-5">Con todo el contenido podemos hacer una variedad de textos para probar diferentes tipos de tipografía. En cuestión de momentos podremos decidir qué tipo de letra y forma encaja mejor con el branding de la pagina. </p>
  <% if @categories.length > 0 %>
    <div class="category-grid">
      <% @categories.each do |category| %>
        <%= link_to category_path(category), class: "category-card", style: "background-image: url(#{category.photo.attached? ? url_for(category.photo) : 'https://images.pexels.com/photos/225841/pexels-photo-225841.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940'})" do %>
          <div class="category-card-overlay"></div>
          <p class="category-card-text"><%= category.display_name %></p>
        <% end %>
      <% end %>
    </div>
    <h3 class="text-center margin-80-top">Las Mejores Ofertas</h3>
    <p class="text-center center-padding-desktop">Con todo el contenido podemos hacer una variedad de textos para probar diferentes tipos de tipografía. En cuestión de momentos podremos decidir qué tipo de letra y forma encaja mejor con el branding de la pagina.</p>
    <div class="product-grid mt-5">
      <% @featured.each do |product| %>
        <%= render "shared/product_card", product: product, admin: false, bids: false %>
      <% end %>
    </div>
  <% else %>
    <h3 class="text-center pt-5">Sin subastas activas</h3>
    <h3 class="text-center pb-5">Vuelva más tarde</h3>
  <% end %>
  <div class="d-flex align-items-start margin-80-top margin-80-bottom flex-column-mobile text-center-mobile">
    <div class="pr-5-desktop">
      <h3 class="mb-3">Nuestra Empresa</h3>
      <p class="margin-8-top">Con todo el contenido podemos hacer una variedad de textos para probar diferentes tipos de tipografía. En cuestión de momentos podremos decidir qué tipo de letra y forma encaja mejor con el branding de la pagina.</p>
      <p>Aqui podremos hablar de algunos de los fundadores y de los valores de la empresa.</p>
      <p>Con todo el contenido podemos hacer una variedad de textos para probar diferentes tipos de tipografía. En cuestión de momentos podremos decidir qué tipo de letra y forma encaja mejor con el branding de la pagina.</p>
      <p class="margin-32-bottom">Aqui podremos hablar de algunos de los fundadores y de los valores de la empresa. Siempre ponemos Textos ejemplares para seguir mostrando.</p>
      <%= link_to "Empresa", about_path, class: "btn btn-primary" %>
    </div>
    <%= image_tag "people.png", alt: "People on a crosswalk", class: 'home-image d-none-mobile' %>
  </div>
</div>
<div class="contact-banner">
  <h3 class="white mb-4">Quieres saber mas de nosotros?</h3>
  <%= link_to "Contactanos", contact_path, class: "btn btn-primary"  %>
</div>

