<div class="d-flex">
  <%= render "admin/shared/sidebar", categories: @categories %>
  <div class="sidebar-aware-container">
    <div class="container pt-4">
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h3>Subastas</h3>
        <%= link_to "+ Agregar Subasta", new_admin_product_path, class: "btn btn-primary" %>
        <%= link_to "+ Add Category", new_admin_category_path, class: "btn btn-primary" %>
      </div>
      <div class="category-grid">
        <% @categories.each do |category| %>
        <!-- This will be replaced by the category image once cloudinary is set up -->
          <%= link_to admin_category_path(category), class: "category-card", style: "background-image: url('https://images.pexels.com/photos/225841/pexels-photo-225841.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260')" do %>
            <div class="category-card-overlay"></div>
            <p class="category-card-text"><%= category.name %></p>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
