<div class="d-flex">
  <%= render "admin/shared/sidebar", categories: @categories %>
  <div class="sidebar-aware-container">
    <div class="container pt-4">
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h3><%= @category.display_name %> (<%= @category.hidden ? 'Oculto' : 'Activo' %>)</h3>
        <%= link_to "+ Agregar Subasta", new_admin_product_path, class: "btn btn-primary btn-large" %>
      </div>
      <div class="product-grid">
        <% @category.products.each do |product| %>
          <%= render "shared/product_card", product: product, admin: true, bids: false %>
        <% end %>
      </div>
    </div>
    <div class="container my-5">
      <%= link_to "Alternar visibilidad", hide_admin_category_path(@category), method: :patch, class: "btn btn-secondary" %>
      <%= link_to "Editar categoria", edit_admin_category_path(@category), class: "btn btn-secondary ml-2" %>
      <%= link_to "Eliminar categoria", admin_category_path(@category), method: :delete, data: { confirm: "Esto eliminará todas las subastas en esta categoría. Estas seguro?" }, class: "btn btn-secondary ml-2" %>
    </div>
  </div>
</div>
