<div class="d-flex">
  <%= render "admin/shared/sidebar", categories: @categories %>
  <div class="sidebar-aware-container">
    <div class="container pt-4">
      <div class="breadcrumb m-0">
        <%= link_to "Subastas", admin_categories_path %>
        <span class="mx-1">/</span>
        <%= link_to @product.category.name.capitalize, admin_category_path(@product.category) %>
        <span class="mx-1">/</span>
        <span><%= @product.name %></span>
      </div>
      <div class="d-flex justify-content-between align-items-center mb-4">
        <h3><%= @product.name %></h3>
        <div class="admin-product-stats">
          <div class="product-stat winning-offer">
            <span>Ultima Oferta</span>
            <p><%= @winning_bid ? humanized_money_with_symbol(@winning_bid.price) : 'No bids yet' %></p>
          </div>
          <div class="product-stat time-left">
            <span>Tiempo Restante</span>
            <p id="timer" data-time="<%= @product.end_time.to_s %>" data-target="products.timer"><%= "#{@dd}:#{@hh.to_s.rjust(2, "0")}:#{@mm.to_s.rjust(2, "0")}:#{@ss.to_i}" %></p>
          </div>
        </div>
      </div>
      <div class="users-table">
        <div class="users-header">
          <p class="m-0">Nombre Completo</p>
          <p class="m-0">Correo Electronico</p>
          <p class="m-0">Oferta</p>
          <p class="m-0">Fecha</p>
          <p class="m-0">Estado</p>
        </div>
        <% @bids.each_with_index do |bid, index| %>
          <div class="users-row">
            <p class="m-0"><%= bid.user.name %></p>
            <p class="m-0"><%= bid.user.email %></p>
            <p class="m-0"><%= humanized_money_with_symbol bid.price %></p>
            <p class="m-0"><%= bid.created_at.strftime('%b %d, %Y') %></p>
            <p class="m-0"><%= index + 1 %></p>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
