<div>
  <h3 class="text-center mb-4">Documents for <%= @user.name %></h3>
  <div class="documents-grid">
    <% @user.documents.each do |document| %>
      <div class="document">
        <% if document.blob.filename.to_s.include?('pdf') %>
          <%= image_tag "pdf-logo.png", alt: "alttext", class: "pdf-logo" %>
        <% elsif document.blob.content_type.to_s.include?('image') %>
          <%= image_tag rails_blob_path(document, disposition: 'preview'), alt: "Preview of document", class: "document-preview" %>
        <% else %>
          <h2 class="text-center"><%= document.blob.content_type %></h2>
        <% end %>
        <p class="blue text-center m-0 mt-2"><%= document.blob.filename %></p>
      </div>
    <% end %>
  </div>
</div>
