<div data-controller="admin">
  <div class="d-flex">
    <%= render "admin/shared/sidebar", categories: @categories %>
    <div class="sidebar-aware-container">
      <div class="container pt-4">
        <h3 class="my-3">Confirmar Usuarios</h3>
        <div class="users-table">
          <div class="users-header">
            <p class="m-0">Nombre Completo</p>
            <p class="m-0">Correo Electronico</p>
            <p class="m-0">Documentos</p>
            <p class="m-0">Estado</p>
            <p class="m-0">Dia de Aplicacion</p>
          </div>
          <% @users.each do |user| %>
            <div class="users-row">
              <p class="m-0"><%= user.name %></p>
              <p class="m-0"><%= user.email %></p>
              <% if user.documents.length > 0 %>
                <a href="#" data-toggle="modal" data-target="#documentsModal" data-action="click->admin#fetchDocuments" data-url="<%= documents_admin_user_path(user) %>">View Documents</a>
              <% else %>
                <p class="m-0">No Documents</p>
              <% end %>
              <% if user.approved %>
                <%= button_to 'Strike user', new_admin_user_strike_path(user), method: :get, class: "btn btn-danger" %>
              <% else %>
                <a href="#" data-toggle="modal" data-target="#decisionModal" class="btn btn-secondary">Decision</a>
                <div class="modal fade" id="decisionModal" tabindex="-1" role="dialog" aria-labelledby="decisionModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="devise-modal-header">
                        <h3 data-target="admin.rejectionTitle">Aprobar o Decline</h3>
                      </div>
                      <div class="devise-modal-body">
                        <div data-target="admin.rejectionOptions">
                          <% if user.rejection %>
                            <h6>This user has been rejected for the following reason: <br> <strong><%= user.rejection %></strong></h6>
                            <h6>You can change this by choosing one of the options below:</h6>
                          <% end %>
                          <div class="d-flex justify-content-around mt-4">
                            <%= simple_form_for([:admin, user]) do |f| %>
                              <%= f.check_box :approved, label: false, checked: true, class: "d-none" %>
                              <%= f.submit "Aprobar", class: "btn btn-primary w-100" %>
                            <% end %>
                            <a class="btn btn-secondary" data-action="click->admin#rejectUser">Decline</a>
                          </div>
                        </div>
                        <div class="d-none" data-target="admin.rejectionForm">
                          <%= simple_form_for([:admin, user]) do |f| %>
                            <%= f.input :rejection, label: false, placeholder: "Razón por la cual se rechazo aplicación." %>
                            <%= f.submit "Enviar", class: "btn btn-primary w-100" %>
                          <% end %>
                        </div>
                      </div>
                      <div class="devise-modal-footer">
                      </div>
                    </div>
                  </div>
                </div>
              <% end %>
              <p class="m-0"><%= user.created_at.strftime('%b %d, %Y') %></p>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="documentsModal" tabindex="-1" role="dialog" aria-labelledby="documentsModalLabel" aria-hidden="true" data-controller="loading">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="devise-modal-header">
          <h3></h3>
        </div>
        <div class="devise-modal-body" data-target="admin.documentHolder">
          <h3 class="text-center mb-4">Loading Documents</h3>
          <div class="loading-dots">
            <div class="loading-dot loading-dot-active" data-target="loading.dot"></div>
            <div class="loading-dot" data-target="loading.dot"></div>
            <div class="loading-dot" data-target="loading.dot"></div>
            <div class="loading-dot" data-target="loading.dot"></div>
          </div>
        </div>
        <div class="devise-modal-footer">

        </div>
      </div>
    </div>
  </div>
</div>
