<div class="container d-flex pt-4" data-controller="products">
  <div class="w-50 pr-3">
    <div id="productCarousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <% @product.photos.each_with_index do |_photo, index| %>
          <li data-target="#productCarousel" data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %>"></li>
        <% end %>
      </ol>
      <div class="carousel-inner">
        <% @product.photos.each_with_index do |photo, index| %>
          <div class="<%= index == 0 ? 'carousel-item active' : 'carousel-item' %>">
            <%= cl_image_tag photo.key, crop: :fill, class: "product-show-img" %>
          </div>
        <% end %>
      </div>
      <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>
  <div class="w-50 pl-3">
    <div class="d-flex">
      <div class="pr-3">
        <div class="breadcrumb">
          <%= link_to "Subastas", categories_path %>
          <span class="mx-1">/</span>
          <%= link_to @product.category.name.capitalize, category_path(@product.category) %>
          <span class="mx-1">/</span>
          <span><%= @product.name %></span>
        </div>
        <h3><%= @product.name %></h3>
        <% if current_user %>
          <% if current_user.admin? %>
            <%= link_to "Edit this product", edit_admin_product_path(@product) %>
          <% end %>
        <% end %>
        <p class="blue m-0">Descripción:</p>
        <p><%= @product.description %></p>
      </div>
      <div class="product-stats">
        <div class="product-stat time-left">
          <span>Tiempo Restante</span>
          <p id="timer" data-time="<%= @product.end_time.to_s %>" data-target="products.timer"><%= "#{@dd}:#{@hh.to_s.rjust(2, "0")}:#{@mm.to_s.rjust(2, "0")}:#{@ss.to_i}" %></p>
        </div>
        <div class="product-stat winning-offer">
          <span>Ultima Oferta</span>
          <p><%= @winning_bid ? humanized_money_with_symbol(@winning_bid.price) : 'No bids yet' %></p>
        </div>
        <div class="product-stat your-offer">
          <span>Tu Oferta</span>
          <p><%= @users_offers.length > 0 ? humanized_money_with_symbol(@users_offers.last.price) : '$00.00'%></p>
        </div>
      </div>
    </div>
    <p class="blue">Historial de Ofertas:</p>
    <div class="bids">
      <% if @product.bids.length > 0 %>
        <% @product.bids.each_with_index do |bid, index| %>
          <p class="<%= index.odd? ? 'bid highlighted-bid' : 'bid' %>"><%= bid.created_at.strftime(' %B %e, %Y') %> | <%= bid.created_at.strftime(' %l:%M:%S %p') %> | <%= humanized_money_with_symbol bid.price %></p>
        <% end %>
      <% else %>
        <h4 class="text-center">No bids yet. Be the first to make an offer</h4>
      <% end %>
    </div>
    <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#exampleModal">
      Ofertar
    </button>
  </div>
</div>
<div class="container mt-5">
  <% if @product.features.length > 0 %>
    <h4>Detalles de Producto</h4>
    <div class="product-details">
      <% @product.features.each do |feature| %>
        <p class="blue mt-4"><%= feature.key %></p>
        <p class="orange"><%= feature.value %></p>
      <% end %>
    </div>
  <% elsif current_user %>
    <% if current_user.admin %>
      <%= link_to "Add some details", edit_admin_product_path(@product) %>
    <% end %>
  <% end %>
  <% if @product.documents.length > 0 %>
    <h4>Documentos</h4>
    <div class="product-details mb-5">
    </div>
  <% end %>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" data-controller="products">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <% if current_user %>
          <h3 class="text-center">Escoge el monto de oferta</h3>
          <p class="blue text-center">Monto de Oferta en USD Dolaress</p>
          <%= simple_form_for(@bid) do |f| %>
            <div class="d-flex align-items-center">
              <span class="input-currency">$</span>
              <%= f.input :price, as: :integer, label: false, input_html: { class: "bid-input", value: @product.bids.length > 0 ? humanized_money(@product.bids.last.price).delete(',').to_i : humanized_money(@product.opening_price).delete(',').to_i, data: { target: "products.bidInput" } } %>
              <div class="arrows">
                <svg width="22" height="17" viewBox="0 0 22 17" fill="none" class="arrow" id="upArrow" data-action="click->products#increment">
                  <path d="M11 0L22 17H0L11 0Z" fill="#8E98B0"/>
                </svg>
                <svg width="22" height="17" viewBox="0 0 22 17" fill="none" class="arrow" id="downArrow" data-action="click->products#decrement">
                  <path d="M11 0L22 17H0L11 0Z" fill="#8E98B0"/>
                </svg>
              </div>
            </div>
            <%= hidden_field_tag 'product', @product.id %>
            <%= f.submit "Enviar Oferta", class: "btn btn-bid btn-primary w-100" %>
          <% end %>
        <% else %>
          <h3 class="text-center">Only approved users can bid</h3>
          <%= link_to "Login", new_user_session_path, class: "btn btn-primary w-100" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


