<div class="container position-relative margin-80-top-desktop" data-controller="products">
  <div class="product-flex">
    <div data-target="products.auctionEndedBtn">
      <button class="d-none" data-toggle="modal" data-target="#auctionEndedModal" >
      </button>
    </div>
    <!-- This section only appears on mobile -->
    <div class="product-stats d-none-desktop">
      <div class="product-stat w-100 time-left">
        <span>Tiempo Restante</span>
        <% if @product.end_time.to_datetime.past? %>
          <p class="timer-finished">00:00:00:00</p>
        <% else %>
          <p id="timer" data-time="<%= @product.end_time.to_s %>" data-target="products.timer"><%= "#{@dd}:#{@hh.to_s.rjust(2, "0")}:#{@mm.to_s.rjust(2, "0")}:#{@ss.to_i}" %></p>
        <% end %>
      </div>
      <div class="product-stat w-100 winning-offer">
        <span>Ultima Oferta</span>
        <p><%= @winning_bid ? humanized_money_with_symbol(@winning_bid.price) : humanized_money_with_symbol(@product.opening_price) %></p>
      </div>
      <div class="product-stat w-100 your-offer">
        <span>Tu Oferta</span>
        <p><%= @users_offers.length > 0 ? humanized_money_with_symbol(@users_offers.last.price) : '$00.00'%></p>
      </div>
    </div>
    <div class="w-50-desktop pr-5-desktop">
      <div id="productCarousel" class="carousel slide" data-ride="carousel" data-interval=3000>
        <ol class="carousel-indicators">
          <% @product.photos.each_with_index do |_photo, index| %>
            <li data-target="#productCarousel" data-slide-to="<%= index %>" class="<%= index == 0 ? 'active' : '' %>"></li>
          <% end %>
        </ol>
        <div class="carousel-inner">
          <% @product.photos.each_with_index do |photo, index| %>
            <div class="<%= index == 0 ? 'carousel-item active' : 'carousel-item' %>">
              <img class="product-show-img" src="<%= url_for(photo) %>" alt="Product photo" />
            </div>
          <% end %>
        </div>
        <a class="carousel-control-prev" href="#productCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#productCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="w-50-desktop pl-3-desktop pt-5-mobile">
      <div class="d-flex justify-content-between">
        <div class="pr-3 text-width-limit">
          <div class="breadcrumb">
            <%= link_to "Subastas", categories_path %>
            <span class="mx-1">/</span>
            <%= link_to @product.category.name.capitalize, category_path(@product.category) %>
            <span class="mx-1">/</span>
            <span><%= @product.name.truncate(30) %></span>
          </div>
          <h3 class="product-show-title"><%= @product.name %></h3>
          <% if current_user %>
            <% if current_user.admin? %>
              <%= link_to "Edit this product", edit_admin_product_path(@product) %>
            <% end %>
          <% end %>
          <p class="blue m-0">Descripción:</p>
          <p><%= @product.description %></p>
        </div>
        <!-- This section only appears on desktop -->
        <div class="product-stats d-none-mobile">
          <div class="product-stat time-left">
            <span>Tiempo Restante</span>
            <% if @product.end_time.to_datetime.past? %>
              <p class="timer-finished">00:00:00:00</p>
            <% else %>
              <p id="timer" data-time="<%= @product.end_time.to_s %>" data-target="products.timer"><%= "#{@dd}:#{@hh.to_s.rjust(2, "0")}:#{@mm.to_s.rjust(2, "0")}:#{@ss.to_i}" %></p>
            <% end %>
          </div>
          <div class="product-stat winning-offer">
            <span>Ultima Oferta</span>
            <p><%= @winning_bid ? humanized_money_with_symbol(@winning_bid.price) : humanized_money_with_symbol(@product.opening_price) %></p>
          </div>
          <div class="product-stat your-offer">
            <span>Tu Oferta</span>
            <p><%= @users_offers.length > 0 ? humanized_money_with_symbol(@users_offers.last.price) : '$00.00'%></p>
          </div>
        </div>
      </div>
      <p class="blue">Historial de Ofertas:</p>
      <div class="bids">
        <% if @product.bids.length > 0 %>
          <% @product.bids.reverse.each_with_index do |bid, index| %>
            <p class="<%= index.odd? ? 'bid highlighted-bid' : 'bid' %>"><%= bid.created_at.strftime(' %B %e, %Y') %> | <%= bid.created_at.strftime(' %l:%M:%S %p') %> | <%= humanized_money_with_symbol bid.price %></p>
          <% end %>
        <% else %>
          <h4 class="text-center mt-4">Aún no hay ofertas. Sea el primero en hacer una oferta</h4>
        <% end %>
      </div>
      <% if @product.end_time.to_datetime.past? %>
        <button type="button" class="btn btn-secondary btn-bid w-100" disabled>
          Subasta finalizada
        </button>
      <% else %>
        <button type="button" class="btn btn-primary w-100 d-none-mobile" data-toggle="modal" data-target="#exampleModal">
          Ofertar
        </button>
      <% end %>
    </div>
  </div>
  <div class="mt-5">
    <% if @product.features.length > 0 %>
      <h4>Detalles de Producto</h4>
      <div class="product-details">
        <% @product.features.each do |feature| %>
          <p class="blue mb-0"><%= feature.key %></p>
          <p class="orange bold size-20 mb-4"><%= feature.value %></p>
        <% end %>
      </div>
    <% elsif current_user %>
      <% if current_user.admin %>
        <%= link_to "Add some details", edit_admin_product_path(@product) %>
      <% end %>
    <% end %>
    <% if @product.documents.length > 0 %>
      <h4 class="margin-80-top">Documentos</h4>
      <div class="product-details d-flex mb-5">
        <div class="documents-grid">
          <% @product.documents.each do |document| %>
            <div class="document white-background">
              <% if document.blob.filename.to_s.include?('pdf') %>
                <%= image_tag "pdf-logo.png", alt: "alttext", class: "pdf-logo" %>
              <% elsif document.blob.content_type.to_s.include?('image') %>
                <%= image_tag rails_blob_path(document, disposition: 'preview'), alt: "Preview of document", class: "document-preview" %>
              <% else %>
                <h2 class="text-center"><%= document.blob.content_type %></h2>
              <% end %>
              <p class="blue text-center m-0 mt-2"><%= document.blob.filename.to_s.truncate(20) %></p>
              <% if current_user %>
                <a href="<%= url_for document %>" target="_blank">Descargar</a>
              <% else %>
                <p class="text-center grey small-text">Iniciar sesión para ver</p>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="fixed-offer-button-holder">
    <% if @product.end_time.to_datetime.past? %>
      <button type="button" class="btn btn-secondary btn-bid w-100" disabled>
        Subasta finalizada
      </button>
    <% else %>
      <button type="button" class="btn btn-primary btn-bid w-100" data-toggle="modal" data-target="#exampleModal">
        Ofertar
      </button>
    <% end %>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <% if current_user %>
            <h3 class="text-center">Escoge el monto de oferta</h3>
            <p class="blue text-center">Monto de Oferta en USD Dolaress</p>
            <%= simple_form_for(@bid) do |f| %>
              <div class="d-flex align-items-center">
                <span class="input-currency">$</span>
                <%= f.input :price, as: :integer, label: false, input_html: { class: "bid-input", value: @product.bids.length > 0 ? humanized_money(@product.bids.last.price).delete(',').to_i : humanized_money(@product.opening_price).delete(',').to_i, data: { target: "products.bidInput" } } %>
                <div class="arrows">
                  <svg width="22" height="17" viewBox="0 0 22 17" fill="none" class="arrow" id="upArrow" data-action="click->products#increment">
                    <path d="M11 0L22 17H0L11 0Z" fill="#8E98B0"/>
                  </svg>
                  <svg width="22" height="17" viewBox="0 0 22 17" fill="none" class="arrow" id="downArrow" data-action="click->products#decrement">
                    <path d="M11 0L22 17H0L11 0Z" fill="#8E98B0"/>
                  </svg>
                </div>
              </div>
              <%= hidden_field_tag 'product', @product.id %>
              <%= f.submit "Enviar Oferta", class: "btn btn-bid btn-primary w-100" %>
            <% end %>
          <% else %>
            <h3 class="text-center">Only approved users can bid</h3>
            <%= link_to "Login", new_user_session_path, class: "btn btn-primary w-100" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- Auction Ended Modal -->

  <div class="modal fade" id="auctionEndedModal" tabindex="-1" role="dialog" aria-labelledby="auctionEndedModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content devise-modal-content" style="height: 500px">
        <div class="devise-modal-header">
          <div class="auction-ended-img-holder">
            <%= image_tag "hammer.png", alt: "Auction ended", class: "auction-ended-img" %>
          </div>
        </div>
        <div class="devise-modal-body">
          <h3 class="text-center">Subasta Cerrada</h3>
          <p class="text-center">Si tuvo la oferta más alta al final, nos pondremos en contacto a la brevedad.</p>
          <button type="button" class="btn btn-secondary w-100 btn-large mb-4" data-dismiss="modal">Continuar</button>
        </div>
      </div>
    </div>
  </div>
</div>


