<div class="container d-flex pt-4">
  <div class="w-50 pr-3">
    <%= image_tag "people.png", alt: "alttext", class: "product-show-img" %>
  </div>
  <div class="w-50 pl-3">
    <div class="d-flex">
      <div class="pr-3">
        <div class="breadcrumb">
          <%= link_to "Subastas", categories_path %>
          <span class="mx-1">/</span>
          <%= link_to @product.category.name.capitalize, category_path(@product.category) %>
          <span class="mx-1">/</span>
          <span><%= @product.name %></span>
        </div>
        <h3><%= @product.name %></h3>
        <% if current_user %>
          <% if current_user.admin? %>
            <%= link_to "Edit this product", edit_admin_product_path(@product) %>
          <% end %>
        <% end %>
        <p class="blue m-0">Descripción:</p>
        <p><%= @product.description %></p>
      </div>
      <div class="product-stats">
        <div class="product-stat time-left">
          <span>Tiempo Restante</span>
          <p><%= "#{@dd}:#{@hh.to_s.rjust(2, "0")}:#{@mm.to_s.rjust(2, "0")}:#{@ss.to_i}" %></p>
        </div>
        <div class="product-stat winning-offer">
          <span>Ultima Oferta</span>
          <p><%= @winning_bid ? @winning_bid.price : 'No bids yet' %></p>
        </div>
        <div class="product-stat your-offer">
          <span>Tu Oferta</span>
          <p><%= @users_offers.length > 0 ? @users_offers.last : '$00.00'%></p>
        </div>
      </div>
    </div>
    <p class="blue">Historial de Ofertas:</p>
    <div class="bids">
      <% if @product.bids.length > 0 %>
        <% @product.bids.each do |bid| %>
          <p><%= bid.created_at.strftime(' %B %e, %Y') %> | <%= bid.created_at.strftime(' %l:%M:%S %p') %> | <%= humanized_money_with_symbol bid.price %></p>
        <% end %>
      <% else %>
        <h4 class="text-center">No bids yet</h4>
      <% end %>
    </div>
    <button type="button" class="btn btn-primary w-100" data-toggle="modal" data-target="#exampleModal">
      Ofertar
    </button>
  </div>
</div>
<div class="container">
  <% if @product.features.length > 0 %>
    <h4>Detalles de Producto</h4>
    <div class="product-details">
      <% @product.features.each do |feature| %>
        <p class="blue mt-4"><%= feature.key %></p>
        <p class="orange"><%= feature.value %></p>
      <% end %>
    </div>
  <% elsif current_user %>
    <% if current_user.admin %>
      <%= link_to "Add some details", edit_admin_product_path(@product) %>
    <% end %>
  <% end %>
  <h4>Documentos</h4>
  <div class="product-details mb-5">
  </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <% if current_user %>
          <h3 class="text-center">Escoge el monto de oferta</h3>
          <p class="blue text-center">Monto de Oferta en USD Dolaress</p>
          <%= simple_form_for(@bid) do |f| %>
            <%= f.input :price, as: :integer %>
            <%= hidden_field_tag 'product', @product.id %>
            <%= f.submit class: "btn btn-primary w-100" %>
          <% end %>
        <% else %>
          <h3 class="text-center">Only approved users can bid</h3>
          <%= link_to "Login", new_user_session_path, class: "btn btn-primary w-100" %>
        <% end %>
      </div>
    </div>
  </div>
</div>


