<%= simple_form_for([:admin, product]) do |f| %>
  <div class="new-product-container">
    <div>
      <div class="new-product-card">
        <h5>Detalles</h5>
        <%= f.input :name, label: "Nombre de Producto", placeholder: "LandCruiser 4X4 Sahara Edition", input_html: { class: "contact-input" } %>
        <%= f.input :description, label: "Descripcion", input_html: { class: "contact-input" } %>
        <%= f.association :category, input_html: { class: "contact-input" } %>
      </div>
      <div class="new-product-card">
        <h5>Fotos</h5>
        <p>Para agregar varios archivos, mantenga presionada la tecla Mayús mientras selecciona archivos</p>
        <%= f.input :photos, as: :file, input_html: { multiple: true }, label: false %>
      </div>
      <div class="new-product-card">
        <h5>Precio</h5>
        <%= f.input :opening_price, as: :integer, label: 'Precio Inicial', input_html: { class: "contact-input" } %>
        <%= f.input :maximum_price, as: :integer, label: 'Precio Maximo', input_html: { class: "contact-input" } %>
        <%= f.input :bid_increment, as: :integer, label: 'Incremento', input_html: { class: "contact-input" } %>
      </div>
      <% if action === 'new' %>
        <div class="new-product-card">
          <h5>Fechas</h5>
          <%#= f.label :start_time, label: "Fecha de Incio" %>
          <%= f.input :start_time, as: :string, required: false, input_html: {class: "datepicker"} %>
          <br>
          <%#= f.label :end_time, label: "Fecha Final" %>
          <%= f.input :end_time, as: :string, required: false, input_html: {class: "datepicker"} %>
        </div>
      <% end %>
      <div class="new-product-card">
        <h5>Documentos</h5>
        <p>Para agregar varios archivos, mantenga presionada la tecla Mayús mientras selecciona archivos</p>
        <%= f.input :documents, as: :file, input_html: { multiple: true }, label: false %>
      </div>
      <div class="new-product-card">
        <h5>Opciones</h5>
        <p class="small-text grey">Por ejemplo: Kilómetros => 100,000</p>
        <%= f.fields_for :feature do |a| %>
          <% product.features.each do |feature| %>
            <div class="form-inline justify-content-around mb-3">
              <%= a.input :key, required: false, input_html: { name: 'product[current_features][][key]', value: feature.key, class: "contact-input" } %>
              <%= a.input :value, required: false, input_html: { name: 'product[current_features][][value]', value: feature.value, class: "contact-input" } %>
              <%= link_to admin_feature_path(feature), method: :delete  do %>
                <button class="btn btn-danger">Delete</button>
              <% end %>
            </div>
          <% end %>
        <% end %>
        <button type="button" id="feature-btn" class="btn btn-secondary mt-4">Agregar Otra Opción </button>
      </div>
    </div>
    <div class="new-product-card small-new-product-card" data-controller="products">
      <h5>Disponibilidad del Producto</h5>
      <div class="switch-holder">
        <label class="form-check-label boolean optional switch" for="product_hidden">
          <input name="product[hidden]" type="hidden" value="0">
          <input class="form-check-input boolean optional" type="checkbox" value="1" name="product[hidden]" id="product_hidden" data-action="change->products#changeVisibility">
          <span class="slider"></span>
        </label>
        <p class="medium-text mt-2" data-target="products.visibilityLabel">Visible</p>
      </div>
    </div>
  </div>
  <%= f.submit class: "btn btn-primary btn-large mb-4" %>
<% end %>

