<!DOCTYPE html>
<html>
  <head>
    <title>Subastalo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link rel="stylesheet" href="https://use.typekit.net/fpj8tze.css">
    <%= favicon_link_tag "favicon.ico" %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <% if params[:controller].include?('admin') %>
      <%= render 'shared/admin_navbar' %>
    <% else %>
      <%= render 'shared/navbar' %>
    <% end %>
    <%= render 'shared/flashes' %>
    <div class="min-height">
      <%= yield %>
    </div>
    <%= render 'shared/login_modal', resource: User.new, resource_name: :user, devise_mapping: Devise.mappings[:user] %>
    <%= render 'shared/signup_modal', resource: User.new, resource_name: :user, devise_mapping: Devise.mappings[:user] %>
    <% unless params[:controller].include?('admin') %>
      <%= render 'shared/footer' %>
    <% end %>
  </body>
</html>
